<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body class="container">
    <header>
      <nav class="header">
        <a href="/">UserPage</a>
        <a href="/user">Show User</a>
        <a href="/user/new">
          <button>Add User</button>
        </a>
      </nav>
    </header>
    <fieldset class="form">
      <form action="/user/<%= user.id %>" method="post">
        <input
          type="text"
          name="name"
          placeholder="Enter your name"
          value="<%= user.name %>"
        />
        <input
          type="number"
          name="age"
          id=""
          placeholder="Enter age"
          value="<%= user.age %>"
        />
        <input
          type="email"
          name="email"
          id=""
          placeholder="Your Email"
          value="<%= user.email %>"
        />
        <input
          type="text"
          name="bio"
          placeholder="Your Bio"
          value="<%= user.bio %>"
        />
        <input
          type="text"
          name="address"
          id=""
          placeholder="Enter Address"
          value="<%= user.address %>"
        />
        <input
          type="text"
          name="hobbies"
          id=""
          placeholder="Enter your hobbies"
          value="<%= user.hobbies %>"
        />
        <div class="submit">
          <input type="submit" value="Update User" />
        </div>
      </form>
    </fieldset>
  </body>
</html>
